<div class="container text-center">
    <div class="footer-content col-xs-5">
        <p>경기도 안산시 단원구 와동 사세충열로 94 한국디지털미디어고등학교</p>
        <p>개발 : 박재성</p>
        <p>Copyright 2017. 박재성, Blockers. All rights reserved.</p>
    </div>
    <div class="footer-menus col-xs-offset-2 col-xs-4">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <ul class="list-unstyled">
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sns-links col-xs-1">
        <ul class="list-inline">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </div>
    <div>
        <p><a href="#">©2017 <span>Blote</span>.me</a></p>
    </div>
</div>