.top-content {
    background: #fafafa;
    padding-top: 54px;
    border-bottom: 1px solid #e0e0e0;
    min-height: 90vh;
    width: 100%;
}

h1 {
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-size: 40px;
    display: block;
    color: #00B0FF;
    text-align: center;
}

.usage,
.why,
.reason {
    position: relative;
    height: auto!important;
    width: 100%;
    margin: auto!important;
}

.us .ra {
    background-color: #ebebeb;
}

.wh {
    background-color: #f3f3f3;
}

p {
    font-weight: 500;
    color: #737f8d;
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
    text-align: center!important;
    width: 100%;
    font-family: 'Nanum Barun Gothic', sans-serif;
    padding: 10px 50px;
    word-break: keep-all;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    height: 450px !important;
}