<section class="top-content">
    <div class="content us">
        <div class="usage">
            <h1>Blote Usage</h1>
            <p>대회 운영, 각종 세미나 인기 투표, 자치단체 운영 등, 투표가 필요하다면 언제든지 간편하게 Blote를 통해 투표를 등록하고 투표를 진행할 수 있습니다.</p>
        </div>
    </div>
    <div class="content wh">
        <div class="why">
            <h1>Why Blote?</h1>
            <p>Blote는 제3자의 개입이 불가능하며, 투표 개설자 또한 투표 데이터를 조작할 수 없는 구조로 공신력, 투명성이 필요한 곳에서 서면 투표를 대체할 수 있는 전자 투표 시스템입니다.</p>
        </div>
    </div>
    <div class="content ra">
        <div class="reason">
            <h1>Fast, Easy, Transparent Voting</h1>
            <p>Blote는 Ethereum기반의 블록체인 기술을 사용하고 있으며, 블록체인 기술을 통해 전자 투표의 투명성이 보장됩니다. 이 기술을 통해 Blote에서는 투표 참가자들이 선거관리 위원회의 역할을
                함께 수행할 수 있습니다. Blote에서 진행되는 투표에 참여하는 참가자들은 직접 블록체인 데이터를 조회하여 투표의 공정성을 확인할 수 있습니다. </p>
        </div>
    </div>
</section>