<div id="content-wrapper">
    <section id="introduce" class="content-section">
        <div id="particle-background">
            <div class="ui stackable two column grid container top-content-grid">
                <div class="column intro-column">
                    <div class="intro-column-wrapper">
                        <h1 class="title"><b>더욱 더 안전한, 투명한, 전자투표 시스템</b><br><span class="typing-text"></span></h1>
                        <button class="btn-1" (click)="about()"><i class="arrow right icon"></i> 지금 한 눈에 보기</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section id="introduce2" class="content-section">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 text-center">
                        <img src="./assets/img/invest_screenshot.png">
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <h1><b>블록체인</b>에 저장되는 투표 데이터</h1>
                        <p><b>Blote</b>에서는 투표 데이터가 중앙서버에 저장되지 않습니다.<br>블록체인 네트워크에 분산 저장되며, 이를 통해 안전성과 투명성을 확보 할 수 있습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="introduce3" class="content-section">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 text-right">
                        <h1>투표자가 <b>모니터링 가능한</b>투표</h1>
                        <p>투표 데이터가 저장되는 블록 해시를 통해 <br>투표자가 직접 유효성을 검증할 수 있습니다.</p>
                    </div>
                    <div class="col-xs-12 col-md-6 text-center">
                        <img src="http://bizcool.me/assets/img/company_king_screenshot.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="introduce4" class="content-section">
        <div class="content">
            <div class="container">
                <div class="row" style="text-align: center">
                    <h1><b>Blote</b>사용하기!</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="introduce5" class="content-section">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 text-right">
                        <h1>1단계 <b>회원가입</b></h1>
                        <p>자치회 운영, 대회, 해카톤 운영 등 투명성과 공신력이 보장되어야 하는 투표가 필요하다면 Blote에 가입합니다.</p>
                    </div>
                    <div class="col-xs-12 col-md-6 text-center">
                        <img src="../assets/images/signup.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="introduce5" class="content-section">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 text-center">
                        <img src="../assets/images/create.png">
                    </div>
                    <div class="col-xs-12 col-md-6 text-right">
                        <h1>2단계 <b>투표 생성</b></h1>
                        <p>후보 등록, 투표 가능한 인원 수를 지정하고 투표를 생성합니다. 생성이후에 제공되는 url를 투표 참가자들에게 공개합니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="introduce5" class="content-section">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 text-right">
                        <h1>3단계 <b>투표 진행</b></h1>
                        <p>투표 참가자들은 제공된 url을 통해 투표를 진행합니다.</p>
                    </div>
                    <div class="col-xs-12 col-md-6 text-center">
                        <img src="../assets/images/vote.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="introduce4" class="content-section">
        <div class="content">
            <div class="container">
                <div class="col-xs-12 col-md-6 text-right">
                    <div class="row" style="text-align: center">
                        <h1><b>Blote</b>가 더 궁금하다면?</h1>
                    </div>
                    <div class="col-xs-12 col-md-6 text-center">
                        <button class="btn-1" (click)="about()"><i class="arrow right icon"></i> 지금 알아보기</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- <section class="top-content">
    <div class="top-content-grid-wrapper">
        <div id="intro-background">
            <div class="ui stackable two column grid container top-content-grid">
                <div class="column intro-column">
                    <div class="intro-column-wrapper">
                        <h1 class="title"><b>더욱 더 안전한, 투명한, 전자투표 시스템</b><br><span class="typing-text"></span></h1>
                        <button class="btn-1" (click)="about()"><i class="arrow right icon"></i> 지금 한 눈에 보기</button>
                    </div>
                </div>

            </div>
        </div>
        <div id="introduce-wrapper">
            <section id="introduce" class="content-section">
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-6 text-right">
                                <h1>블록체인에 저장되는<br><b>‘투명한’, '공정한'</b>투표 데이터</h1>
                            </div>
                            <div class="col-xs-12 col-md-6 text-center">
                                <img style="max-height:250px;" src="http://bizcool.me/assets/img/company_king_screenshot.png">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="introduce" class="content-section">
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-6 text-right">
                                <h1>블록체인에 저장되는<br><b>‘투명한’, '공정한'</b>투표 데이터</h1>
                            </div>
                            <div class="col-xs-12 col-md-6 text-center">
                                <img src="./assets/img/bizcool_logo.png">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="introduce3" class="content-section">
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-6 text-right">
                                <h1>2단계 <b>투자왕 선정</b></h1>
                                <p>100억을 가장 효율적으로 투자한 팀이<br>투자왕에 선정됩니다.</p>
                            </div>
                            <div class="col-xs-12 col-md-6 text-center">
                                <img src="./assets/img/invest_king_screenshot.png">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="introduce4" class="content-section">
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-6 text-center">
                                <img src="./assets/img/vote_screenshot.png">
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <h1>3단계 <b>홍보왕 선정</b></h1>
                                <p>발표를 잘한 두팀을 선정해 투표하고<br>그 투표결과를 통해 홍보왕을 선정합니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section> -->