<section class="top-content">
    <div class="top-content-grid-wrapper">
        <div class="ui stackable two column grid container top-content-grid">
            <div class="column intro-column">
                <div class="intro-column-wrapper">
                    <h1 class="title"><b>새로운 방식의 전자투표 시스템</b><br><span class="typing-text"></span></h1>
                    <button class="btn-1" (click)="about()"><i class="arrow right icon"></i> 지금 한 눈에 보기</button>
                    <a id="applink" href="intent://blote#Intent;scheme=callMyApp;action=android.intent.action.VIEW;category=android.intent.category.BROWSABLE;package=com.test.app;end">앱실행 또는 구글 플래이 다운로드 화면으로 이동</a> 
                </div>
            </div>
        </div>
    </div>
</section>