<section class="top-content">
    <div class="top-content-grid-wrapper">
        <div class="ui stackable two column grid container top-content-grid">
            <div class="column intro-column">
                <div class="intro-column-wrapper">
                    <div class="form-group">
                        <label>투표 명을 작성해주세요 <strong class="text-danger">*</strong></label>
                        <input type="text" class="form-control input-lg" name="name" id="votename-input" placeholder="투표명 입력">
                    </div>
                    <div class="form-group">
                        <label>투표에 대한 소개를 작성해주세요<strong class="text-danger">*</strong></label>
                        <input type="text" class="form-control input-lg" name="name" id="votename-input" placeholder="투표 소개 입력">
                    </div>
                    <div class="form-group">
                        <label>전체 투표자 수를 작성해주세요 (숫자로 작성해주세요) <strong class="text-danger">*</strong></label>
                        <input type="number" class="form-control input-lg" name="name" id="votename-input" placeholder="ex) 35">
                    </div>
                    <div class="form-group">
                        <label>투표 보기를 작성해주세요 <strong class="text-danger">*</strong><button id="add" class="btn-1" (click)="addRow()">보기 추가하기</button><button id="delete" class="btn-1" (click)="deleteRow()">보기 제거하기</button></label>
                        <input type="text" class="form-control input-lg" name="name" id="votename-input" placeholder="투표 보기 입력">
                        <div [innerHtml]="htmlText">
                            
                        </div>
                    </div>
                    <button id="submit" class="btn-1" (click)="create();"><i class="arrow right icon"></i>투표 만들기</button>
                </div>
            </div>
        </div>
    </div>
</section>