app-footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

app-header {
    box-shadow: none;
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 0;
}

#content-wrapper {
    width: 100%;
    height: calc(100% - 60px);
    display: table;
    margin-top: 100px;
    margin-bottom: 50px;
}

#content-wrapper a.logo {
    font-size: 50px;
    color: #777;
    margin-bottom: 30px;
    display: block;
}

#content-wrapper a.logo b {
    color: #43abf1;
}

#content-wrapper a.logo:hover,
#content-wrapper a.logo:focus {
    text-decoration: none;
}

#content-wrapper .login-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.navbar-default {
    margin-bottom: 0px;
    box-shadow: none;
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 0;
}

#content-wrapper,
#content-wrapper section {
    height: 100%;
    width: 100%;
}

#content-wrapper section {
    display: table;
}

#content-wrapper section .content {
    display: table-cell;
    vertical-align: middle;
}

#content-wrapper section h1 {
    font-size: 44px;
    line-height: 1.2;
}

#content-wrapper section a {
    font-weight: 500;
}

#content-wrapper section p {
    margin-bottom: 25px;
}

#content-wrapper section p,
#content-wrapper section a {
    font-size: 18px;
}

#footer-wrapper {
    background-color: #1a1a1a;
    font-size: 12px;
    padding: 45px 0;
}

#footer-wrapper p {
    margin: 3px;
    color: #ddd;
}

#footer-wrapper ul {
    margin: 0 0 15px;
    font-weight: 500;
    font-size: 13px;
}

#footer-wrapper ul a {
    color: #ddd;
}

#footer-wrapper ul a:focus,
#footer-wrapper ul a:hover {
    color: #fff;
    text-decoration: none;
}

#footer-wrapper .sns-links ul {
    font-size: 20px;
}

.fa {
    padding-right: 5px;
}

.navbar {
    margin-bottom: 0px;
    z-index: 9999;
    background-color: #FFF;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-toggle:hover {
    background-color: #00B0FF;
}

.navbar-brand {
    color: #00B0FF;
}

@import url('http://fonts.googleapis.com/earlyaccess/nanumpenscript.css');
html,
body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    height: 100%;
}

.form-control {
    box-shadow: none;
    border-radius: 2px;
}

.form-control:focus {
    -webkit-box-shadow: 0 0 3px 0 rgba(63, 116, 224, 0.5);
    -moz-box-shadow: 0 0 3px rgba(63, 116, 224, 0.5);
    box-shadow: 0 0 3px 0 rgba(63, 116, 224, 0.5);
    border-color: #43aaf1;
}

.input-group-addon {
    background: #fff;
}

.btn {
    border-radius: 2px;
    box-shadow: none;
}

a {
    color: #43aaf1;
}

a:hover,
a:active {
    color: #399ce0;
}

.btn-primary {
    background-color: #43aaf1;
    border-color: #399ce0;
}

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary {
    background-color: #399ce0;
    border-color: #399ce0;
}

.btn-primary-outline {
    background-color: transparent;
    border: 1px solid #43aaf1;
    color: #43aaf1;
}

.btn-primary-outline.active,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline:focus,
.btn-primary-outline:hover,
.open>.dropdown-toggle.btn-primary-outline {
    background-color: #edf2fd;
    color: #43aaf1;
}

.button-group-vertical input {
    border-radius: 0;
    border-bottom-width: 0;
}

.button-group-vertical input:focus {
    border-bottom-width: 1px;
}

.button-group-vertical input:first-of-type {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.button-group-vertical input:last-of-type {
    border-bottom-width: 1px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.navbar-default {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 5px 0;
    border: 0;
}

.navbar-default .navbar-brand>b {
    color: #43aaf1;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    background-color: transparent;
    font-weight: 500;
    color: #43aaf1;
}

.navbar-default .navbar-nav>li>a.btn {
    padding: 8px 15px;
    margin: 6px;
}

.navbar-default .navbar-nav>li>a.btn-primary {
    color: #fff;
}

.navbar-default .navbar-nav>li>a.btn-primary:focus,
.navbar-default .navbar-nav>li>a.btn-primary:hover {
    background-color: #399ce0;
}

.navbar-default .navbar-nav>li>a.btn-primary-outline {
    color: #43aaf1;
}

.navbar-default .navbar-nav>li>a.btn-primary-outline:focus,
.navbar-default .navbar-nav>li>a.btn-primary-outline:hover {
    background-color: #edf2fd;
}